# Gate PRs on OpenSSF Scorecard regressions.
#
# See also: https://github.com/ossf/scorecard/issues/1270
name: OpenSSF Scorecard

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  scorecard:
    name: Scorecard
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check for regressions
        uses: bootc-dev/actions/openssf-scorecard@main
        with:
          base-sha: ${{ github.event.pull_request.base.sha }}
          head-sha: ${{ github.event.pull_request.head.sha }}
